.menu-burger {
  position: absolute;
  left: 0;
  top: 14px;
  z-index: 1000;
  display: block;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.menu-burger .menu-burger-inner {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f00;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.menu-burger:before,
.menu-burger:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f00;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.menu-burger:before {
  top: 0;
}
.menu-burger:after {
  bottom: 0;
}
.menu-burger.active .menu-burger-inner {
  opacity: 0;
}
.menu-burger.active:before {
  transform: rotate(-45deg) translateY(10px) translateX(-5px);
}
.menu-burger.active:after {
  transform: rotate(45deg) translateY(-10px) translateX(-5px);
}
.menu-overlay {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.show-menu .menu-overlay {
  display: block;
}
.mobile-scroll-holder {
  overflow-x: scroll;
  overflow-y: hidden;
}
.mobile-scroll-holder .mobile-scroll {
  white-space: nowrap;
}
.mobile-scroll-holder::-webkit-scrollbar {
  display: none;
}
.adaptive-table {
  display: block;
}
.adaptive-table thead,
.adaptive-table tbody,
.adaptive-table tfoot,
.adaptive-table tr,
.adaptive-table th,
.adaptive-table td {
  display: block;
}
.adaptive-table thead tr {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.adaptive-table td {
  position: relative;
  padding-left: 50%;
}
.adaptive-table td:before {
  content: attr(data-header);
  position: absolute;
  left: 6px;
  top: 6px;
  width: 45%;
  padding-right: 5%;
  white-space: nowrap;
}
.panel-title {
  cursor: pointer;
}
.panel-content {
  display: none;
}
.panel-content.active {
  display: block;
}
.page {
  overflow: hidden;
}
.page-content {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.header-menu {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
body.show-menu .header-menu {
  transform: translateX(0);
}
body.show-menu .page-content {
  transform: translateX(200px);
}
