.header-menu-burger {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 13px;
  z-index: 1000;
  display: none;
  width: 40px;
  cursor: pointer;
}
.header-menu-burger .header-menu-burger-top,
.header-menu-burger .header-menu-burger-middle,
.header-menu-burger .header-menu-burger-bottom {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  background-color: #fff;
}
.header-menu-burger .header-menu-burger-middle {
  margin: 8px 0;
}
