// Menu burger
.menu-burger
	position absolute
	left 0
	top 14px
	z-index 1000
	
	display block
	width 30px
	height 25px

	cursor pointer
	
	.menu-burger-inner
		position absolute
		left 0
		top 50%
		margin-top -2px

		width 100%
		height 4px
		
		border-radius 4px
		background-color red
		
		transition opacity 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)
	
	&:before
	&:after
		content ""
		
		position absolute
		left 0
		
		display block
		width 100%
		height 4px
		
		border-radius 4px
		background-color red
		
		transition transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)
		
	&:before
		top 0
		
	&:after
		bottom 0
		
	&.active
		.menu-burger-inner
			opacity 0

		&:before
			transform rotate(-45deg) translateY(10px) translateX(-5px)
			
		&:after
			transform rotate(45deg) translateY(-10px) translateX(-5px)
		
.menu-overlay
	position fixed
	z-index 10
	left 0
	top 0
	right 0
	bottom 0
	
	display none

.show-menu
	.menu-overlay
		display block
// //Menu burger



// Scroll
.mobile-scroll-holder
	overflow-x scroll
	overflow-y hidden
	
	.mobile-scroll
		white-space nowrap
	
	&::-webkit-scrollbar
		display none
// //Scroll



// Adaptive table
.adaptive-table
	display block
	
	thead
	tbody
	tfoot
	tr
	th
	td
		display block
		
	thead
		tr
			position absolute
			left -9999px
			top -9999px
			
	td
		position relative
		
		padding-left 50%
		
		&:before
			content attr(data-header)

			position absolute
			left 6px
			top 6px
			
			width 45%
			padding-right 5%
			
			white-space nowrap
// //Adaptive table



// Panels
.panel-title
	cursor pointer
	
.panel-content
	display none
	
	&.active
		display block
// //Panels



// Aside
.page
	overflow hidden

.page-content
	transition transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)
		
.header-menu
	position absolute
	z-index 20
	left 0
	top 0

	transform translateX(-100%)
	
	transition transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)

body.show-menu
	.header-menu
		transform translateX(0)
		
	.page-content
		transform translateX(200px)
// //
	