doctype html
html(lang="ru", class="no-js")
	head
		meta(charset="UTF-8")
		title Responsive scripts test
		link(href="./sitename.responsive.css", rel="stylesheet", type="text/css")
	body
		
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="./ssm.min.js")
		script(src="./sitename.responsive.js")
