doctype html
html(lang="ru", class="no-js")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Responsive scripts test
		link(href="./sitename.responsive.css", rel="stylesheet", type="text/css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css", rel="stylesheet", type="text/css")
		link(href="./test.css", rel="stylesheet", type="text/css")
	body
		div(class="page")
			header(class="page-header")
				div(class="menu-burger")
					div(class="menu-burger-inner")

				div(class="header-menu")
					a(href="#", class="header-menu-item") Главная
					a(href="#", class="header-menu-item") О компании
					a(href="#", class="header-menu-item") Каталог
					a(href="#", class="header-menu-item") Услуги
					a(href="#", class="header-menu-item") Контакты

				div(class="header-phone") 8 (908) 429-44-22
			
			div(class="page-content")
				div(class="rates")
					span X34123dsds
					span L56d7dsds
					span Ojr908dsds
					span jkds9324fd
					span 434934jdd
					span dsds344343
					span d3fdfjhjk43
					span dhdjfhdfk344

				div(class="products")
					div(class="product-item")
						img(src="http://bravotours.ru/Georgia1.jpg")
					div(class="product-item")
						img(src="http://world.lib.ru/img/d/dia/georgian_castles/khevsureti4.jpg")
					div(class="product-item")
						img(src="http://www.fonstola.ru/mini/201308/105792.jpg")
					div(class="product-item")
						img(src="http://fakty.ictv.ua/images/gallery/2012/07/18/thumbnail-20120718162353n.jpg")
					div(class="product-item")
						img(src="http://cs624123.vk.me/v624123329/3d32a/vb_nF7uCiMo.jpg")
					div(class="product-item")
						img(src="http://delicatours.ru/thumb/-XDodM0qr9jtW2jhd9NsEg/360r300/958831/%D0%A7%D0%B0%D1%83%D1%85%D0%B8_%D0%B8_%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D0%BE%D0%B5_%D0%BE%D0%B7%D0%B5%D1%80%D0%BE_%D0%90%D0%B1%D1%83%D0%B4%D0%B5%D0%BB%D0%B0%D1%83%D1%80%D0%B8_11.jpg")

		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
		script(src="./ssm.min.js")
		script(src="./sitename.responsive.js")
